body {
    background-color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-container {
display: flex;
justify-content: center;
}

.navbar {
    background-color: orange;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    width: 70%;
    color: white;
}

.left-links {
    display: flex;
    font-size: 24px;
}

.right-links {
    display: flex;
    justify-content: space-evenly;
    gap: 12px;
    font-size: 24px;
}

.nav-links {
    text-decoration: none;
    list-style: none;
}

.info-container {
    display: flex;
    justify-content: center;
    padding-top: 2%;
}
.info-div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: orange;
    width: 80%;
}

.bio-text {

}

.self-image {

}