/* 
-- TO DO --
Style navbar text to complete the look

*/ 

@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
 display: flex;
 background-color: white;
 flex-direction: column;
 align-items: center;
}



/* CSS for Navbar */ 

.navbar-title {
    display: flex;
    font-family: Roboto;
}

.navbar-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    font-family: Roboto;
    font-size: 20px;
    flex-wrap: wrap;
}

.navbar-links, a:visited, a:link, a:active {
    text-decoration: none;
    color: black;
}

a.navlink:hover {
 color: white;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    padding: 5px;
    

    background-color: lightgray;

    border-radius: 7px;
}



/* CSS for introduction section   */

.introduction {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 10px;
    padding: 10px;
    flex: 1 1 50%;


    object-fit: contain;
    background-color: lightgray;
    width: 70%;

    border-radius: 7px;
}

.introduction-text-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    max-width: 50%;
}

.intro-heading {
    font-size: 32px;
    padding: 10px;
    font-family: Roboto;
}

.intro-paragraph { 
    display: flex;
    flex-wrap: wrap;
    font-family: Roboto;
    font-size: 175%;
}

.profile-img {
    display: flex;
    height: fit-content;
    max-width: 43%;

    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 10px 20px -3px rgba(0,0,0,0.38);
}

.profile-img:hover {
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.38);
}

